.resume {
  box-shadow: 0 6px rgba(225, 29, 72, 0.4);
}
.resume:active {
  box-shadow: 0 3px rgba(225, 29, 72, 0.4);
}

.projects {
  box-shadow: 0 6px rgba(59, 130, 246, 0.3);
}
.projects:active {
  box-shadow: 0 3px rgba(59, 130, 246, 0.3);
}

.github {
  box-shadow: 0 6px rgba(255, 255, 255, 0.2);
}
.github:active {
  box-shadow: 0 3px rgba(255, 255, 255, 0.2);
}
